* {
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(240, 239, 238);
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

/* Start Header */

header {
    
    .nav-bar {
        position: fixed;
        z-index: 5;
        top: 0;
        width: 100%;
        background-color: black;
        display: flex;
        flex: auto;
        font-size: 11px;
        justify-content: space-around;
        padding: 7px 9px;
        
        a {
            padding: 13px;
            display: flex;
            justify-content: center;
            width: 100%;
            color: white;
            text-decoration: none;
            
            &:hover {
                background-color: #bbbbbb;
                color: black;
            }
        }
    }
    .home {
        background-image: url(/images/coffeehouse.jpg);
        background-size: cover;
        height: 70vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        color: white;
        h1 {
           padding-bottom: 180px;
           font-size: 70px; 
           font-weight: 100;
        }
        .desc {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            word-spacing: 4px;
            p {
                color: white;
                margin: 0 5px ;
                font-size: 11px;
            }
            .p1 {
                background-color: black;
                padding: 4px;
                font-size: 12px;
                margin-bottom: 4px;
                
            }
        }
    }
}

/* End Header */

/* Start About */

.about-sec {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

h2 span {
    background-color: #000;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.about-sec p {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

.quote {
    background-color: rgb(228, 223, 223);
    height: 130px;
    padding-top: 20px;
    margin-bottom: 30px;
    border-left: 5px solid #969696b7;;
}

img {
    width: 700px;
    margin-bottom: 20px;
}

.bold {
    font-weight: bold;
}

/* End About */


/* Start Where */

.where-sec {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.where-sec p {
    font-size: 20px;
    padding-bottom: 15px;
}

.fyi {
    background-color: black;
    color: white;
    padding: 2px 10px;
}

.username, .number, .date, .message {
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 8px;
    width: 100%;
    display: block;
    border: 1px solid #ccc;
}

.save {
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 5px;
    border: 1px solid #ccc;
}

.save:hover {
    background-color: silver;
    color: black;
    cursor: pointer;
}


/* End Where */

/* Start Foot */

.foot {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ebe9e9;
}

/* End Foot */

/* responsive */

@media (max-width: 768px) and (max-width: 991px) {
    .header{
        /* width: 400px; */
        padding: auto;
        margin: auto;
    }

    nav, .links, a {
        width: 400px;
        padding: auto;
    }

    .home:hover, .about:hover, .menu:hover, .where:hover {
        padding: 2px;
    }
    
    img {
        width: 400px;
    }

    .save {
        width: 60px;
        font-size: 20px;
    }

    .username, .number, .date, .message {
        width: 200px;
        padding: 0;
        margin: 0;
    }
}
